<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />      
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Home</title>
</head>
  
<body>
  <div class="container">
  <h1>Bem-Vindo(a) a WallTech</h1>
  <p>
    Projeto desenvolvido para simular um site para cadastro e controle de produtos para a avaliação da matéria de Progromação e Técnicas para Aplicação Cliente 6 do IFMS.
  </p>
  </div>
</body>
</html>